<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_blue_disappear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,228},{77,72}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>bullet_blue_disappear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,302},{71,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{71,70}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>bullet_blue_disappear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{61,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{61,74}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>bullet_blue_disappear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,151},{75,70}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{75,70}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>bullet_blue_disappear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,78},{71,42}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{71,42}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>bullet_blue_fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{160,95}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,95}}</string>
                <key>sourceSize</key>
                <string>{184,103}</string>
            </dict>
            <key>bullet_blue_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,99}}</string>
                <key>sourceSize</key>
                <string>{184,103}</string>
            </dict>
            <key>bullet_blue_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{180,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,103}}</string>
                <key>sourceSize</key>
                <string>{184,103}</string>
            </dict>
            <key>bullet_blue_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{168,97}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,97}}</string>
                <key>sourceSize</key>
                <string>{184,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_blue.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c649066551f0493f35a3ddad99afba:1/1$</string>
            <key>textureFileName</key>
            <string>bullet_blue.png</string>
        </dict>
    </dict>
</plist>
