<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>physical_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{122,104}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{122,104}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>physical_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{216,168}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>physical.png</string>
            <key>size</key>
            <string>{326,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7a226cf709c653de5826c59038aeae:b69cac986bdfeb6eceb93d8a42f45b6b:7f27f9208038503ab890ca831fae7ec9$</string>
            <key>textureFileName</key>
            <string>physical.png</string>
        </dict>
    </dict>
</plist>
