<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{172,150}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{172,150}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>skill_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,150}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{172,150}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill.png</string>
            <key>size</key>
            <string>{306,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:528f82e47c5842b93d1fd28b96501e25:752f076a5e1ad63e215482fdfac30632:de628d2eabb1e43115cf8c86336e45f6$</string>
            <key>textureFileName</key>
            <string>skill.png</string>
        </dict>
    </dict>
</plist>
