<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{176,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{176,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{174,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{174,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{176,176}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{176,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{174,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{174,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{178,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{178,178}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{184,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,41},{184,186}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{192,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{192,192}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{200,200}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{192,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{192,192}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{184,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,41},{184,186}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>moon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{180,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{180,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moon.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea6a90071561cf953eb59cbdb82bdf3:1/1$</string>
            <key>textureFileName</key>
            <string>moon.png</string>
        </dict>
    </dict>
</plist>
