<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
            <key>w010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
            <key>w010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
            <key>w010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
            <key>w010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
            <key>w010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
            <key>w010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1869,256}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{1869,256}}</string>
                <key>sourceSize</key>
                <string>{1875,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c70a78116e417ab12dfa435186d19c9:1/1$</string>
            <key>textureFileName</key>
            <string>water.png</string>
        </dict>
    </dict>
</plist>
