<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>return.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>return2.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>return3.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>D:/EditorDefaultRes/GUI/button.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--xlys1.png</key>
			<dict>
				<key>width</key>
				<integer>771</integer>
				<key>height</key>
				<integer>486</integer>
				<key>originalWidth</key>
				<integer>771</integer>
				<key>originalHeight</key>
				<integer>486</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--wzg1.png</key>
			<dict>
				<key>width</key>
				<integer>481</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>481</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>1433</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--stl1.png</key>
			<dict>
				<key>width</key>
				<integer>510</integer>
				<key>height</key>
				<integer>603</integer>
				<key>originalWidth</key>
				<integer>510</integer>
				<key>originalHeight</key>
				<integer>603</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--psd1.png</key>
			<dict>
				<key>width</key>
				<integer>551</integer>
				<key>height</key>
				<integer>336</integer>
				<key>originalWidth</key>
				<integer>551</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--ppd1.png</key>
			<dict>
				<key>width</key>
				<integer>476</integer>
				<key>height</key>
				<integer>493</integer>
				<key>originalWidth</key>
				<integer>476</integer>
				<key>originalHeight</key>
				<integer>493</integer>
				<key>x</key>
				<integer>1065</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--pds1.png</key>
			<dict>
				<key>width</key>
				<integer>587</integer>
				<key>height</key>
				<integer>364</integer>
				<key>originalWidth</key>
				<integer>587</integer>
				<key>originalHeight</key>
				<integer>364</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1093</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>map--neg1.png</key>
			<dict>
				<key>width</key>
				<integer>498</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>498</integer>
				<key>originalHeight</key>
				<integer>326</integer>
				<key>x</key>
				<integer>589</integer>
				<key>y</key>
				<integer>1093</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--lg1.png</key>
			<dict>
				<key>width</key>
				<integer>643</integer>
				<key>height</key>
				<integer>408</integer>
				<key>originalWidth</key>
				<integer>643</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>1089</integer>
				<key>y</key>
				<integer>1093</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>map--hgs1.png</key>
			<dict>
				<key>width</key>
				<integer>531</integer>
				<key>height</key>
				<integer>386</integer>
				<key>originalWidth</key>
				<integer>531</integer>
				<key>originalHeight</key>
				<integer>386</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1503</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--df1.png</key>
			<dict>
				<key>width</key>
				<integer>507</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>507</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>1503</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>拆分地区/map--bxg1.png</key>
			<dict>
				<key>width</key>
				<integer>518</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>518</integer>
				<key>originalHeight</key>
				<integer>363</integer>
				<key>x</key>
				<integer>1042</integer>
				<key>y</key>
				<integer>1503</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>map-4-80.png</string>
			<key>realTextureFileName</key>
			<string>map-4-80.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>